<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebCalculatorASPMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/calculator.css" />
    <link rel="stylesheet" href="~/css/testCS.css" />
</head>
<body id="drag-container">

    <header>
        <h1 class="display-1 text-center">
            Web App <br />
            <small class="text-muted display-4">ASP.Net Core 3 MVC</small>
        </h1>
    </header>

    <div class="container-fluid" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="pos-f-t">
            <div class="collapse" id="app-menu">
                <div class="bg-dark p-4">
                    <div class="row">
                        <div class="col">
                            <h1 class="display-4">My Apps</h1>
                            <div class="list-group btn-group-sm">
                                <div id="app-menu-btns"></div>
                            </div>
                        </div>
                        <div class="col">
                            <p>&copy; WebCalculatorASPMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Test-Center</a></p>
                            <p>Fix-bottom unsupport: https://caniuse.com/#feat=css-sticky</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark" id="navbar-bottom">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#app-menu" aria-controls="app-menu" aria-expanded="false" aria-label="App Menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/DragUI/DragUI.js" asp-append-version="true"></script>
    <script src="~/js/DragUI/Card/Card.js" asp-append-version="true"></script>
    <script src="~/js/DragUI/Card/CardService.js" asp-append-version="true"></script>
    <script src="~/js/CalculatorUI/StandardCalculator.js" asp-append-version="true"></script>
    <script src="~/js/CalculatorUI/ScientificCalculator.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
