/*Default CSS*/

/*Keypad Button Layout*/
.btn {
    width: 100%;
}
/*Keypad Background Cover*/
#sta-calculator-keypad-card-body, #sci-calculator-keypad-card-body {
    margin: auto;
    max-height: 206px;
    background-color: #6c757d;
}
/*Keypad Enter Button*/
#sta-calculator-enter-btn, #sci-calculator-enter-btn {
    width: 100%;
    height: 84px;
    border-bottom-left-radius: 0px;
}
/*Keypad One Button Style and Layout*/
#sta-calculator-one-btn, #sci-calculator-one-btn {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
}
/*Keypad Two Button Style and Layout*/
#sta-calculator-two-btn, #sci-calculator-two-btn {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*Keypad Zero Button Style and Layout*/
#sta-calculator-zero-btn, #sci-calculator-zero-btn {
    position: relative;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 81px;
    height: 42px;
    bottom: 42px;
}
/*Keypad Decimal Button Style and Layout*/
#sta-calculator-decimal-btn, #sci-calculator-decimal-btn {
    width: 41px;
    height: 42px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*Keypad Addition Operation Button Style and Layout*/
#sta-calculator-addition-btn, #sci-calculator-addition-btn {
    height: 82.9px;
}
