/*Default CSS*/

/*Keypad Buttons*/
.btn {
    width: 100%;
}
/*Default CSS for Mobile Viewport*/
#calculator-keypad-parent-card {
    width: 200px;
    height: 250px;
    margin: auto;
    border: solid 1px #000;
    box-shadow: 0px 0px 2px 1px #000;
}
/*Keypad Background Cover*/
#calculator-card-body {
    max-height: 206px;
    margin: auto;
    background-color: #6c757d;
}
/*Keypad Enter Button*/
#calculator-enter-btn {
    width: 100%;
    height: 71px;
}
/*Keypad Zero Button Style and Layout*/
#calculator-zero-btn {
    position: relative;
    border-top-left-radius: 0px;
    width: 81px;
    bottom: 42px;
}
/*Keypad Decimal Button Style and Layout*/
#calculator-decimal-btn {
    width: 45px;
}
/*Keypad One Button Style and Layout (to Align and Blend in with the Modified Zero Button)*/
#calculator-keypad-one-btn {
    width: 100%;
    border-bottom-left-radius: 0px;
}
/*Keypad Addition Operation Button Style and Layout*/
#calculator-addition-btn {
    height: 95px;
}
