/*Default CSS*/

/*Keypad Button Layout*/
.btn {
    width: 100%;
}
/*Default CSS for Mobile Viewport*/
#calculator-keypad {
    /*width: 200px;*/
    height: 249px;
    margin: auto;
}
/*Keypad Background Cover*/
#calculator-keypad-card-body {
    max-height: 203.8px;
    margin: auto;
    background-color: #6c757d;
}
/*Keypad Enter Button*/
#calculator-enter-btn {
    width: 100%;
    height: 83px;
    border-bottom-left-radius: 0px;
}
/*Keypad One Button Style and Layout*/
#calculator-one-btn {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
}
/*Keypad Two Button Style and Layout*/
#calculator-two-btn {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*Keypad Zero Button Style and Layout*/
#calculator-zero-btn {
    position: relative;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 81px;
    height: 42px;
    bottom: 42px;
}
/*Keypad Decimal Button Style and Layout*/
#calculator-decimal-btn {
    width: 41px;
    height: 42px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;   
}
/*Keypad Addition Operation Button Style and Layout*/
#calculator-addition-btn {
    height: 82.9px;
}
