<div class="row">
    <div class="col" id="drag-container">

        <div class="drag card" id="dragcard">
            <div class="card-body dragcard-body">
                Text 0
            </div>
        </div>
        

        <div class="drag card" id="dragcard1">
            <div class="card-body dragcard-body">
                Text 1
            </div>
        </div>

        <div class="drag card" id="dragcard2">
            <div class="card-body dragcard-body">
                Text 2
            </div>
        </div>

    </div>
</div>